In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [17]:
# What is the average age of men?

average_age_men = None
# Este es el masking
df['sex'] == 'Male'

# Este es el data set con el masking.
df[df['sex'] == 'Male']

# Este es el data set con el masking y la edad de esos individuos. Además, se saca el promedio
df[df['sex'] == 'Male']['age']

average_age_men = df[df['sex'] == 'Male']['age'].mean()

0        39
1        50
2        38
3        53
7        52
         ..
32553    32
32554    53
32555    22
32557    40
32559    22
Name: age, Length: 21790, dtype: int64

In [18]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = None

race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [18]:
# What is the percentage of people who have a Bachelor's degree?

personas_con_bachelor = df.loc[df['education'] == 'Bachelors'].shape[0]
total_de_personas = df.shape[0]
percentage_bachelors = (personas_con_bachelor / total_de_personas) * 100

print(f'El porcentaje de gente que tiene Bachelor es del {percentage_bachelors}%')

El porcentaje de gente que tiene Bachelor es del 16.44605509658794%

In [17]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

mask = (df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')
total_personas = df[mask].shape[0]

mask = (mask) & (df['salary'] == '>50K')
df.loc[mask]

personas_con_avanzada_50k = df.loc[mask].shape[0]

percentage = round((personas_con_avanzada_50k / total_personas) * 100, 1)

print(percentage)

46.5

In [18]:
 # What percentage of people without advanced education make more than 50K?

mask = ~((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'))
total_personas = df[mask].shape[0]

mask = (mask) & (df['salary'] == '>50K')

personas_sin_avanzada_50k = df.loc[mask].shape[0]

percentage = round((personas_sin_avanzada_50k / total_personas) * 100, 1)

print(percentage)

17.4

In [30]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()

1

In [28]:
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [20]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = None

mask = (df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary'] == '>50K')
total_personas = df[df['hours-per-week'] == df['hours-per-week'].min()].shape[0]

num_in_workers = (df[mask].shape[0] / total_personas) * 100
num_in_workers

10.0

In [48]:
# What country has the highest percentage of people that earn >50K
mask_paises_con_mas_de_50K = df['salary'] == '>50K'
paises_con_mas_de_50K = df[mask_paises_con_mas_de_50K]['native-country'].value_counts().index

porcentajes_totales = {}
for pais in paises_con_mas_de_50K:
    personas_pais_totales = df[df['native-country'] == pais].shape[0]

    mask = (df['native-country'] == pais) & (df['salary'] == '>50K')
    personas_pais_50K = df[mask].shape[0]

    porcentaje = (personas_pais_50K / personas_pais_totales) * 100

    porcentajes_totales[pais] = porcentaje

porcentajes_totales = pd.Series(porcentajes_totales)
porcentajes_totales = porcentajes_totales.sort_values()

highest_earning_country = porcentajes_totales.index[-1]
highest_earning_country_percentage = round(porcentajes_totales[-1], 1)

Iran
41.9

In [51]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = None

mask = (df['salary'] == '>50K') & (df['native-country'] == 'India')
df[mask]['occupation'].value_counts()

top_IN_occupation = df[mask]['occupation'].value_counts().index[0]
top_IN_occupation

'Prof-specialty'